<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easybuy.mapper.EasyBuyUserMapper">
    <select id="count" resultType="int">
        select count(*) from easybuy_user
    </select>

    <select id="findAll" resultType="com.easybuy.pojo.EasyBuyUser">
        select  * from easybuy_user
    </select>

    <select id="login" resultType="com.easybuy.pojo.EasyBuyUser">
        select  * from easybuy_user where loginName=#{loginName} and password=#{password}
    </select>

    <insert id="save" parameterType="com.easybuy.pojo.EasyBuyUser">
        insert into easybuy_user(loginName,userName,password,sex,identityCode,email,mobile)
        values(#{loginName},#{userName},#{password},#{sex},#{identityCode},#{email},#{mobile})
    </insert>

</mapper>