<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easybuy.mapper.EasyBuyProductMapper">
    <select id="findProductByPage" resultType="com.easybuy.pojo.EasyBuyProduct">
        select * from easybuy_product  order by id desc limit #{start},#{end}
    </select>

    <select id="findProductById" resultType="com.easybuy.pojo.EasyBuyProduct">
        select * from easybuy_product where id=#{id}
    </select>

    <!--根据商品分类ID，查询商品信息-->
    <select id="findProductBycid" resultType="com.easybuy.pojo.EasyBuyProduct">
        select * from easybuy_product where cid=#{cid} limit #{start},#{end}
    </select>
    
    <select id="countProductByCid" resultType="int">
        select count(*) from easybuy_product where cid=#{cid}
    </select>

    <select id="countProduct" resultType="int">
        select count(*) from easybuy_product
    </select>


    <insert id="save" parameterType="com.easybuy.pojo.EasyBuyProduct">
      insert into easybuy_product(title,sell_point,price,num,barcode,image,cid,status,created)
        values(#{title},#{sell_point},#{price},#{num},#{barcode},#{image},#{cid},#{status},#{created})
    </insert>

    <update id="modify" parameterType="com.easybuy.pojo.EasyBuyProduct">
        update easybuy_product set
        <if test="title!=null and title!=''">
            title=#{title},
        </if>
        <if test="sell_point!=null and sell_point!=''">
            sell_point=#{sell_point},
        </if>
        <if test="price!=null">
            price=#{price},
        </if>
        <if test="num!=null">
            num=#{num},
        </if>
        <if test="barcode!=null and barcode!=''">
            barcode=#{barcode},
        </if>
        <if test="image!=null and image!=''">
            image=#{image},
        </if>
        <if test="cid!=null">
            cid=#{cid},
        </if>
        <if test="status!=null">
            status=#{status},
        </if>
        <if test="updated!=null">
            updated=#{updated}
        </if>
        where id=#{id}
    </update>

    <delete id="delete" parameterType="int">
        delete from easybuy_product where id=#{id}
    </delete>

</mapper>