<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easybuy.mapper.EasyBuyProductCategoryMapper">
    <select id="getProductCategoryByParentId" resultType="com.easybuy.pojo.EasyBuyProductCategory">
        select * from easybuy_product_category where parent_id=#{parentId}
    </select>
</mapper>