<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easybuy.mapper.EasyBuyUserMapper">
    <select id="count" resultType="int">
        select count(*) from easybuy_user
    </select>

    <select id="findAll" resultType="com.easybuy.pojo.EasyBuyUser">
        select  * from easybuy_user limit #{start},#{end}
    </select>

    <select id="login" resultType="com.easybuy.pojo.EasyBuyUser">
        select  * from easybuy_user where loginName=#{loginName} and password=#{password}
    </select>

    <!--根据用户ID查询用户信息-->
    <select id="getUserById" resultType="com.easybuy.pojo.EasyBuyUser">
        select * from easybuy_user where id=#{id}
    </select>

    <insert id="save" parameterType="com.easybuy.pojo.EasyBuyUser">
        insert into easybuy_user(loginName,userName,password,sex,identityCode,email,mobile)
        values(#{loginName},#{userName},#{password},#{sex},#{identityCode},#{email},#{mobile})
    </insert>

    <delete id="deleteUser" parameterType="int">
        delete from easybuy_user where id=#{id}
    </delete>

    <update id="modifyUser" parameterType="com.easybuy.pojo.EasyBuyUser">
        update easybuy_user
        <set>
            <if test="loginName!='' and loginName!=null">
                loginName=#{loginName},
            </if>
            <if test="userName!=null and userName!=''">
                userName=#{userName},
            </if>
            <if test="password!=null and password!=''">
                password=#{password},
            </if>
            <if test="sex!=null">
                sex=#{sex},
            </if>
            <if test="identityCode!=null and identityCode!=''">
                identityCode=#{identityCode},
            </if>
            <if test="email!=null and email!=''">
                email=#{email},
            </if>
            <if test="mobile!=null and mobile!=''">
                mobile=#{mobile},
            </if>
            <if test="type!=null">
                type=#{type}
            </if>
        </set>

        where id = #{id}
    </update>





</mapper>